<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSEnvironment</key>
	<dict>
		<key>CLIENT_ID</key>
		<string>29d68baf9a2349b08af4e16527b5d65e</string>
		<key>CLIENT_SECRET</key>
		<string>df269c67c9d84414b407ca9f4d9a0357</string>
	</dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>CFBundleURLName</key>
			<string>Adde.Spotimy</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>spotimy-app</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
